Unique Words in a Sentence

In [1]:
sentence = input("Enter sentence: ")

# Split sentence into words
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

# Print results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'and', 'is', 'easy', 'powerful', 'python'}

Highest Salary from Employee Data

In [3]:
employees = {
     "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_paid = max(employees, key=employees.get)

print("Employee with highest salary:", highest_paid)
print("Highest salary:", employees[highest_paid])

Employee with highest salary: Ravi
Highest salary: 75000

Find Maximum and Minimum Values

In [4]:
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
max_value = numbers[0]
min_value = numbers[0]

# Loop through the list
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Count Products Above a Price Threshold

In [5]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

 Calculate Attendance Percentage

In [6]:
attendance = ["P", "P", "A", "P", "P"]

present_days = attendance.count("P")
total_days = len(attendance)

attendance_percentage = (present_days / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Remove Duplicate Phone Numbers

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Count Character Frequency

In [8]:
# Input string
text = "python"

# Create empty dictionary
char_count = {}

# Loop through each character
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Convert List to Tuple

In [9]:
# Create a list
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Display the tuple
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

Check if a Key Exists in a Dictionary

In [11]:
# Sample dictionary
data = {
    "Employee": "Devyani",
    "Age": 20,
    "Department": "IT"
}

# Key to check
key_to_check = "Employee"

# Checking if key exists
if key_to_check in data:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Calculate Average Marks

In [12]:
# List of marks
marks = [65, 70, 80, 75]

# Calculate total marks
total = sum(marks)

# Calculate average
average = total / len(marks)

# Display result
print("Average Marks:", average)

Average Marks: 72.5